.main {
  width: 100%;
  height: calc(100% - 140px);
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 400px;
  background-color: var(--powder-900);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .sectionImg {
    display: none;
  }
  .sectionImg img {
    display: none;
  }
  .sectionImg {
    width: 100%;
  }
  .sectionDetail img {
    display: none;
  }
}

.sectionImg {
  min-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.sectionImg img {
  margin-left: auto;
  height: 100%;
}

.sectionContent {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sectionLogo {
  min-width: 100%;
  margin-top: 40px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sectionLogo img {
  height: auto;
  max-height: 100px;
}

.sectionDetail {
  margin: 80px;
}

.sectionDetail h2 {
  color: var(--white);
  font-weight: 500;
  text-align: left;
}

.sectionDetail p {
  color: var(--black-100);
  font-weight: 300;
  text-align: left;
}

.sectionDetail .buttonCustom {
  margin-top: 0.9rem;
  min-height: 40px;
  min-width: 200px;

  background-color: var(--blue-600);

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.footerContainer {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sectionDetail img {
  float: right;
  height: 180px;
}

.sectionInfo {
  margin: 5rem 2rem 0 5rem;
}

.sectionInfo p {
  color: var(--black-500);
}
.sectionInfo span {
  color: var(--blue-600);
  font-size: 1.4rem;
}

.sectionInfo img {
  margin-top: 1rem;
}
